<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/ta03.css" />
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
      </div>
    </div>
    <div class="container">
      <form action="/ta03" method="POST">
        <input type="text" name="searchItem" class="seachBox">
        <button type="submit" class="searchBtn">Search</button>
      </form>
      <div class="grid">
        <% for (let item of items) { %>
          <article class="card item">
            <header class="card__header">
              <h1 class="item__title"><%= item.name %></h1>
              <div class="card__image">
                <img src="<%= item.imageUrl %>" alt="<%= item.name %>">
              </div>
              <div class="card__content">
                <h2 class="item__price">$ <%= item.price %></h2>
                <p class="item__description"><%= item.description %></p>
              </div>
            </header>
          </article>
        <% } %>
      </ul>
    </div>


</body>

</html>